@font-face {
    font-family: 'Giraffe';
    src: url(/Giraffe-8MR2g.otf);
  }

  @font-face {
    font-family: 'Aztec';
    src: url(/AztechForest-9YJa0.otf);
  }

  @keyframes opacity { to {
    opacity: 1;
  }
  }

  @keyframes growAndShrink { 
    0% {color: black;}
    50% {color: orange;}
    100% {color: black;}
  }
  
  body {
    background-image: url('/forest.jpg');
    background-size: 100vh;
    background-repeat: repeat;
    background-position-y: start;
    width: 95%;
    height: 100%;
  }
  
  h1, p {
    margin: 0;
  }
  
  button {
    background-color: orange;
    padding: 30px 30px 15px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Aztec';
    font-size: 30px;
    color: black;
    text-shadow:
      -3px -1px 0 #fff,
      3px -1px 0 #fff,
      3px 1px 0 #fff,
      3px 1px 0 #fff;
  }
  
  .landingPageTitle, .landingPageHowToPlay, .landingPageInstructions, .landingPageButton  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landingPageTitle {
    margin-top: 30px;
    font-family: 'Aztec';
    display: flex;
    flex-direction: column;
  }

  .Spy {
    font-size: 50px;
    margin: -50px;
    margin-bottom: -60px;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
    animation: growAndShrink 0.3s ease-in-out forwards;
  }

  .the {
    font-size: 30px;
    margin: -50px;
    margin-bottom: -60px;
    color:  #000;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
      animation: growAndShrink 0.5s ease-in-out forwards;
  }

  .Specimen {
    font-size: 50px;
    margin: -50px;
    color:  #000;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
      animation: growAndShrink 0.7s ease-in-out forwards;
  }
  
  .landingPageHowToPlay {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Aztec';
    font-size: 30px;
    color: black;
    text-shadow:
      -3px -1px 0 #fff,
      3px -1px 0 #fff,
      3px 1px 0 #fff,
      3px 1px 0 #fff;
      animation: opacity 1s ease forwards;
      animation-duration: 1s;
      opacity: 0;
  }

  .landingPageInstructions {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      1px 1px 0 #fff,
      1px 1px 0 #fff;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      padding: 10px;
      animation: opacity 1s ease forwards;
      animation-duration: 1s;
      opacity: 0;
      animation-delay: 0.3s;
  }
  

  .RoyImage {
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: -70px;
    margin-left: 70px;
    transform: scaleX(-1);
    animation: opacity 1s ease forwards;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.5s;
}

.landingPageButton {
  margin-top: 20px;
  animation: opacity 1s ease forwards;
  animation-duration: 1s;
  opacity: 0;
  animation-delay: 0.7s;
}
  
.questionsTitle, .questionsCurrentQuestion, .questionsHint, .questionsIMGdiv, .questionsInput, .questionsButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.questionsTitle {
    margin-top: 30px;
    font-family: 'Aztec';
    font-size: 30px;
    color:  #000;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
  }

  .questionsCurrentQuestion {
    margin-top: -15px;
    font-family: 'Aztec';
    font-size: 20px;
    color:  #000;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
  }

  .questionsInput {
    margin-top: 10px;
  }

  input {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: orange;
  }

  .questionsImIn {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      1px 1px 0 #fff,
      1px 1px 0 #fff;
      font-weight: bold;
      margin-top: -10px;
  }

  .questionsGalleryHint {
    color: orange;
  }
  
  .questionsIMG {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
  

  .questionsButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


  .RoyImage2 {
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    margin-left: 20px;
    transform: scaleX(-1);
}
  
  .endScreen {
    display: grid;
    margin-top: 150px;
  }
  
  .endScreenTitle, .endScreenInfo, .endScreenButton {
    display: flex;
    justify-content: center;
  }
  
  .endScreenTitle {
    margin-top: 20px;
    font-family: 'Aztec';
    font-size: 20px;
    color:  #000;
    text-shadow:
      -5px -2px 0 #fff,
      5px -2px 0 #fff,
      5px 2px 0 #fff,
      5px 2px 0 #fff;
    animation: opacity 1s ease forwards;
    animation-duration: 1s;
    opacity: 0;
  }

  .endScreenInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      1px 1px 0 #fff,
      1px 1px 0 #fff;
      font-weight: bold;
      margin-top: 10px;
  }

  .endScreenInfoScore {
    color: orange;
  }

  .endScreenAnswerCheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      1px 1px 0 #fff,
      1px 1px 0 #fff;
      font-weight: bold;
      margin-top: 10px;
  }

  .endScreenButton {
    margin-top: 20px;
    animation: opacity 1s ease forwards;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.5s;
  }

  .RoyImage3 {
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: -70px;
    margin-left: 20px;
    transform: scaleX(-1);
    animation: opacity 1s ease forwards;
    animation-duration: 1s;
    opacity: 0;
    animation-delay: 0.7s;
}